parameters:
	ignoreErrors:
		-
			message: "#^Cannot access offset 0 on array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: src/Kdyby/Autowired/PhpDocParser.php

		-
			message: "#^Cannot access offset 1 on array\\<int, string\\>\\|false\\.$#"
			count: 1
			path: src/Kdyby/Autowired/PhpDocParser.php

		-
			message: "#^Call to an undefined method KdybyTests\\\\Autowired\\\\ComponentFactoriesFixtures\\\\NonPresenterComponent\\:\\:getComponents\\(\\)\\.$#"
			count: 1
			path: tests/KdybyTests/Autowired/ComponentFactoriesFixtures/NonPresenterComponent.php

		-
			message: "#^KdybyTests\\\\Autowired\\\\PropertiesFixtures\\\\NonPresenterComponent\\:\\:__get\\(\\) calls parent\\:\\:__get\\(\\) but KdybyTests\\\\Autowired\\\\PropertiesFixtures\\\\NonPresenterComponent does not extend any class\\.$#"
			count: 1
			path: tests/KdybyTests/Autowired/PropertiesFixtures/NonPresenterComponent.php

		-
			message: "#^KdybyTests\\\\Autowired\\\\PropertiesFixtures\\\\NonPresenterComponent\\:\\:__set\\(\\) calls parent\\:\\:__set\\(\\) but KdybyTests\\\\Autowired\\\\PropertiesFixtures\\\\NonPresenterComponent does not extend any class\\.$#"
			count: 1
			path: tests/KdybyTests/Autowired/PropertiesFixtures/NonPresenterComponent.php

		-
			message: "#^Property KdybyTests\\\\Autowired\\\\PropertiesFixtures\\\\WithMissingPropertyTypePresenter\\:\\:\\$service has no typehint specified\\.$#"
			count: 1
			path: tests/KdybyTests/Autowired/PropertiesFixtures/WithMissingPropertyTypePresenter.php
