parameters:
	level: 7
	paths:
		- src
		- tests/KdybyTests
	bootstrapFiles:
	    - phpstan.bootstrap.php
	ignoreErrors:
		# Annotation class with SmartObject has public properties set dynamically.
		# Casting it to array propagates public properties to that array.
		- '#Call to function array_key_exists\(\) with ([^\s])+ and array\(\) will always evaluate to false#'
		# $this in Trait is resolved as NEVER
		- '#Instanceof between \*NEVER\* and Nette\\Application\\UI\\Component will always evaluate to false#'

	reportUnmatchedIgnoredErrors: false

includes:
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- phpstan-baseline.neon
