extensions:
    autowired: Kdyby\Autowired\DI\AutowiredExtension

services:
    cacheStorage: KdybyTests\TestStorage

    - KdybyTests\Autowired\ComponentFactoriesFixtures\ComponentFactory

    -
        implement: KdybyTests\Autowired\ComponentFactoriesFixtures\ComponentFactoryWithDisabledAutowiring
        autowired: false

    one: KdybyTests\Autowired\ComponentFactoriesFixtures\ComponentFactoryWithMultipleServices
    two: KdybyTests\Autowired\ComponentFactoriesFixtures\ComponentFactoryWithMultipleServices
