services:
    cacheStorage: Nette\Caching\Storages\MemoryStorage

    datagridFactory:
        implement: KdybyTests\Autowired\IntegrationFixtures\DatagridFactory

    lorem: KdybyTests\Autowired\IntegrationFixtures\LoremService

