services:
    cacheStorage: Nette\Caching\Storages\MemoryStorage

    sampleFactory:
        implement: KdybyTests\Autowired\PropertiesFixtures\SampleServiceFactory
        parameters:
            - 'name'
            secondName: null
        factory: KdybyTests\Autowired\PropertiesFixtures\SampleService(%name%, %secondName%)

    - KdybyTests\Autowired\PropertiesFixtures\SampleService('shared')

    importedService: KdybyTests\Autowired\PropertiesFixtures\UseExpansion\ImportedService

    -
        type: KdybyTests\Autowired\PropertiesFixtures\FactoryWithDisabledAutowiring
        autowired: false

    one: KdybyTests\Autowired\PropertiesFixtures\FactoryWithMultipleServices
    two: KdybyTests\Autowired\PropertiesFixtures\FactoryWithMultipleServices

    - KdybyTests\Autowired\PropertiesFixtures\GenericFactory
